.left-side {
  user-select: none;
  height: calc(100dvh - 70px);
  border-right: 3px solid black;
}
.left-side #create_new_note {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1, 1);
  background-color: white;
  border: 3px solid black;
  color: black !important;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.left-side #create_new_note:hover {
  transform: scale(0.9, 0.9);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.left-side #create_new_note i {
  -webkit-text-stroke: 1.5px;
}
.right-side {
  user-select: none;
  height: calc(100dvh - 70px);
}
#empty-notes i {
  font-size: 100px;
  -webkit-text-stroke: 1.5px;
}
.note {
  border: 3px solid black;
}
.note a {
  color: black !important;
  text-decoration: none;
}
.delete-note {
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.delete-note:hover {
  border: 3px solid red;
  border-bottom: none;
  background-color: red;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.delete-note:hover i {
  color: white !important;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.delete-note i {
  font-size: 20px;
  color: red !important;
  -webkit-text-stroke: 0.4px;
}
form input {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid black !important;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 200px;
  padding: 5px 10px;
  border: 2px solid black !important;
}

form button {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  color: green;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 100%;
  transform: scale(1, 1);
  font-family: monospace;
  background-color: white;
  transition: all 300ms ease;
  box-shadow: 1px 1px 10px #00000040;
}

form button:hover {
  transform: scale(1.2, 1.2);
  transition: all 300ms ease;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}
