{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock css %}
{% block body %}
<article class="container-fluid">
    <section class="row">
        <div class="col-2 p-3 m-0 left-side">
            <a href="/create" id="create_new_note"
                class="d-inline-block gap-2 px-4 py-2 d-flex align-items-center justify-content-center"
                title="Add To List">
                <i class="bi bi-plus-lg"></i><span>New</span>
            </a>
        </div>
        <div class="col-10 p-3 m-0 right-side">
            {% if allNotes|length == 0 %}
            <div id="empty-notes" class="d-flex align-items-center flex-column">
                <i class="bi bi-journals"></i>
                <span>
                    Notes you add appear here
                </span>
            </div>
            {% else %}
            <div class="container">
                <div class="row m-0">
                    {% for note in allNotes %}
                    <div class="col-6 pb-3 pt-0">
                        <div class="note d-flex p-3 pb-0 gap-2 justify-content-between flex-column">
                            <span>#note {{loop.index}}</span>
                            <h4 class="overflow-hidden">
                                <a class="ellipsis" href="/read/{{note.sno}}">{{note.title}}</a>
                            </h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="delete-note" href="/delete/{{note.sno}}" title="Delete">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</article>
{% endblock body %}